

.header{
    height: 100%;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 4px 20px 0;
}


.header-footer {
    height: 75px;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    position: fixed;
    bottom: 0px;



}

.navbar {
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 45%;
    flex-direction: row;
    gap: 15px;
    z-index: 1;
  }

.navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 15px;

}

.logo-container {
    display: none;

}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(161, 161, 161);
    font-weight: bolder;
    cursor: pointer;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;

  }


.link-container > img {
    height: 25px;
    width: 25px;
    filter: invert();
}

.night {
    height: 25px;
    width: 25px;
    filter: invert();
}

.sun {
    height: 25px;
    width: 25px;
    filter: invert();
    margin-left: 15px;
}

.dropdown{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(187, 187, 187);
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 150;

    
}

.dropdown:hover > .dropdown-container {
    position: absolute;
    display: flex;
    height: 140px;
    width: 35px;
    z-index: 0;
    animation: dropdown ease-in-out .3s forwards;

}


.dropdown-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out .3s;
    z-index: 0;

}

@keyframes dropdown {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 55px;
    
    }
}

.dropdown-container:hover {
    display: flex;
}

.arrow {
    font-size: 1.2rem;
    transition: all ease-in-out .3s ;
    margin-left: 2px;
}
.dropdown:hover .arrow {
    transform: rotate(-90deg);
}

.dropdown-option {

    height: 50px;
    background-color: rgb(19, 17, 17);
    width: 80px;
    text-align: center;
    border-top: 1px solid rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.dropdown-option:hover {
    background-color: rgb(43, 39, 39);
}




.navbar-element {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(187, 187, 187);
}

@media (min-width: 600px) {

    .header-container {
        position: relative;
        top: 0;
        height: 76px;
        width: 100%;
        padding: 4px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(0, 0%, 8%);
        z-index: 5;
    }


.header{
    position: relative;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 4px 20px 0;
    max-width: var(--max-width);
}

.navbar {
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 45%;
    flex-direction: row;
    gap: 15px;
    z-index: 1;
  }

.navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 25px;

}


.logo-container {
    height: 100%;
    width: 75px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo, #contact {
    opacity: .8;
}


.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(161, 161, 161);
    font-weight: bolder;
    cursor: pointer;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;

  }


.link-container > img {
    height: 25px;
    width: 25px;
    filter: invert();
}



.dropdown{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(187, 187, 187);
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 150;

    
}

.dropdown:hover > .dropdown-container {
    position: absolute;
    display: flex;
    height: 140px;
    width: 35px;
    z-index: 0;
    animation: dropdown ease-in-out .3s forwards;

}


.dropdown-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out .3s;
    z-index: 0;

}

@keyframes dropdown {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 55px;
    
    }
}

.dropdown-container:hover {
    display: flex;
}

.arrow {
    font-size: 1.2rem;
    transition: all ease-in-out .3s ;
    margin-left: 2px;
}
.dropdown:hover .arrow {
    transform: rotate(-90deg);
}

.dropdown-option {

    height: 50px;
    background-color: rgb(19, 17, 17);
    width: 80px;
    text-align: center;
    border-top: 1px solid rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;

}

.dropdown-option:hover {
    background-color: rgb(43, 39, 39);
}




.navbar-element {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(187, 187, 187);
}

}