@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --background-color: #f3f4f5;
  --max-width: 1920px;
}

/*Css Reset*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.homepage {
  height: calc(100vh - 75px);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/seamless3.jpg');
  background-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.curve {
  position: absolute;
  bottom: -5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
  width: 386.67px;
  width: 100%;
}

.title {
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-weight: bolder;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: rgb(238, 238, 238);
  margin-top: -10px;
  font-family: 'Righteous', cursive;
}

.profile-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: -150px;
}

.profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid black;
}

.profile-button {
  position: relative;
  font-family: 'Oswald', sans-serif;
  width: 110px;
  height: 45px;
  border: 2px solid black;
  margin-bottom: 15px;
  border-radius: 7px;
  background-color: transparent;
  transition: all ease-in-out 0.5s;
  z-index: 10;
}

.profile-button:hover {
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-top: 25px;
}

.footer {
  border: none;
  height: 50px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: #252525;
  font-family: 'Oswald', sans-serif;
  background-color: hsl(0, 0%, 8%);
}

.front {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.atropos-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  width: 100%;
  height: 450px;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #f3f4f570;
  backdrop-filter: blur(1.200000381469727px);
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.description-info {
  font-family: 'Righteous', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.description-subtitle {
  width: 100%;
  text-align: center;
}

.description-p {
  text-align: left;
}

.description-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-back {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.title-back {
  font-family: 'Righteous', cursive;
}

.homepage {
  height: calc(100vh - 75px);
}

.a-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

  .background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/seamless3.jpg');
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .title {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    font-family: 'Righteous', cursive;
  }

  .subtitle {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: rgb(238, 238, 238);
    margin-top: -25px;
    font-family: 'Righteous', cursive;
  }

  .profile-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: -75px;
  }

  .profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid black;
  }



  .profile-button {
    position: relative;
    font-family: 'Oswald', sans-serif;
    width: 130px;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 7px;
    background-color: transparent;
    transition: all ease-in-out 0.5s;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-button:hover {
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-top: 25px;
  }

  .front {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .profile-content {
    width: 1000px;
    height: 500px;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #f3f4f570;
    backdrop-filter: blur(1.200000381469727px);
    cursor: pointer;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
  }

  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }

  .description-info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    font-family: 'Righteous', cursive;
  }

  .description-profile {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .profile-back {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .title-back {
    font-family: 'Righteous', cursive;
    margin-top: -150px;
    width: 100%;
    text-align: center;
  }

  .footer {
    /* MARGIN -1 FOR FIX BORDER */
    height: 52px;
    width: 100%;
    background-color: hsl(0, 0%, 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 39, 39);
    font-size: 0.7rem;
    font-family: 'Righteous', cursive;
    margin-top: -1px;
  }

  
}
